target/*
android/*.iml
.gradle
android/local.properties
android/.idea/caches
android/.idea/libraries
android/.idea/modules.xml
android/.idea/workspace.xml
android/.idea/navEditor.xml
android/.idea/assetWizardSettings.xml
.DS_Store
android/build
android/captures
.externalNativeBuild
.cxx
android/local.properties
js/node_modules
*.der
*.p7c
*.p7b
*.p12
*.pem
*.key
*.csr
*.crt
*.min.js
cafiles